<!-- <mat-card>

    <mat-card-header>
        <h1>Login Form</h1>

    </mat-card-header>
    <mat-card-content>
        <form class="example-form" [formGroup]="loginForm" (ngSubmit)="proceedlogin()">
            <div>
                <mat-form-field class="example-full-width s">
                    <mat-label>User Name</mat-label>
                    <input matInput formControlName="username">
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="example-full-width s">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password">
                </mat-form-field>
            </div>

            
            <div>
                <button mat-raised-button color="primary">LOGIN</button>
                <a routerLink="/register" mat-raised-button color="accent">Back to Register</a>
            </div>



        </form>


    </mat-card-content>
</mat-card> -->



